# cleaning the csv :-/

In [4]:
import pandas as pd
import numpy as np

In [6]:
import os

In [14]:
os.getcwd()

'C:\\Users\\Abhi\\Documents\\GitHub\\book-recommendation-system\\ml'

In [15]:
df = pd.read_csv("data/goodreads_data.csv")
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   Book         10000 non-null  object
 2   Author       10000 non-null  object
 3   Description  9923 non-null   object
 4   Genres       10000 non-null  object
 5   Avg_Rating   10000 non-null  float64
 6   Num_Ratings  10000 non-null  object
 7   URL          10000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB

In [17]:
df.describe()

        Unnamed: 0    Avg_Rating
count  10000.00000  10000.000000
mean    4999.50000      4.068577
std     2886.89568      0.335359
min        0.00000      0.000000
25%     2499.75000      3.880000
50%     4999.50000      4.080000
75%     7499.25000      4.260000
max     9999.00000      5.000000

In [21]:
df.columns

Index(['Book', 'Author', 'Description', 'Genres', 'Avg_Rating', 'Num_Ratings',
       'URL'],
      dtype='object')

In [22]:
df.isnull().sum()

Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

In [24]:
# filling the missing descriptions values
df["Description"] = df["Description"].fillna("")

In [25]:
df.isnull().sum()

Book           0
Author         0
Description    0
Genres         0
Avg_Rating     0
Num_Ratings    0
URL            0
dtype: int64

In [27]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r"<.*?>", "", text)      # removing html
    text = re.sub(r"[^a-z\s]", "", text)   # keep letters only
    text = re.sub(r"\s+", " ", text)       # remove extra spaces
    return text.strip()

In [28]:
df["clean_description"] = df["Description"].apply(clean_text)

In [29]:
df["clean_genres"] = df["Genres"].str.lower()
df["clean_genres"] = df["clean_genres"].str.replace(",", " ")

In [30]:
df[["Book", "clean_description", "clean_genres"]].head()

,Book,clean_description,clean_genres
0,To Kill a Mockingbird,the unforgettable novel of a childhood in a sl...,['classics' 'fiction' 'historical fiction' ...
1,Harry Potter and the Philosopher’s Stone (Harr...,harry potter thinks he is an ordinary boy unti...,['fantasy' 'fiction' 'young adult' 'magic' ...
2,Pride and Prejudice,since its immediate success in pride and preju...,['classics' 'fiction' 'romance' 'historical...
3,The Diary of a Young Girl,discovered in the attic in which she spent the...,['classics' 'nonfiction' 'history' 'biograp...
4,Animal Farm,librarians note there is an alternate cover ed...,['classics' 'fiction' 'dystopia' 'fantasy' ...

In [31]:
# removing commas in num ratings
df["Num_Ratings"] = (df["Num_Ratings"].str.replace(",", "", regex=False).astype(int))

In [32]:
df["Num_Ratings"].dtype

dtype('int64')

In [36]:
df["Genres"].dtype

dtype('O')

In [34]:
import ast

df["Genres"] = df["Genres"].apply(ast.literal_eval)

In [35]:
type(df["Genres"].iloc[0])

list

In [38]:
df["genre_list"] = df["Genres"].apply(
    lambda x: [g.strip().lower() for g in x]
)

In [39]:
df["clean_genres"] = df["genre_list"].apply(lambda x: " ".join(x))

In [41]:
df[["Genres", "genre_list", "clean_genres"]].head()
# genre_list -- debug, clean_genres -- for ml model

,Genres,genre_list,clean_genres
0,"[Classics, Fiction, Historical Fiction, School...","[classics, fiction, historical fiction, school...",classics fiction historical fiction school lit...
1,"[Fantasy, Fiction, Young Adult, Magic, Childre...","[fantasy, fiction, young adult, magic, childre...",fantasy fiction young adult magic childrens mi...
2,"[Classics, Fiction, Romance, Historical Fictio...","[classics, fiction, romance, historical fictio...",classics fiction romance historical fiction li...
3,"[Classics, Nonfiction, History, Biography, Mem...","[classics, nonfiction, history, biography, mem...",classics nonfiction history biography memoir h...
4,"[Classics, Fiction, Dystopia, Fantasy, Politic...","[classics, fiction, dystopia, fantasy, politic...",classics fiction dystopia fantasy politics sch...

In [43]:
# data to learn from, text to compare
df["text_features"] = (df["Description"].str.lower() + " " + df["clean_genres"])

In [44]:
df[["Book", "text_features"]].head(2)

,Book,text_features
0,To Kill a Mockingbird,the unforgettable novel of a childhood in a sl...
1,Harry Potter and the Philosopher’s Stone (Harr...,harry potter thinks he is an ordinary boy - un...

In [46]:
print(df.loc[0, "text_features"]) #checking if genres are at the end of the list

the unforgettable novel of a childhood in a sleepy southern town and the crisis of conscience that rocked it. "to kill a mockingbird" became both an instant bestseller and a critical success when it was first published in 1960. it went on to win the pulitzer prize in 1961 and was later made into an academy award-winning film, also a classic.compassionate, dramatic, and deeply moving, "to kill a mockingbird" takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos. now with over 18 million copies in print and translated into forty languages, this regional story by a young alabama woman claims universal appeal. harper lee always considered her book to be a simple love story. today it is regarded as a masterpiece of american literature. classics fiction historical fiction school literature young adult historical