# cleaning the csv :-/

In [19]:
import pandas as pd
import numpy as np

In [20]:
import os

In [21]:
os.getcwd()

'C:\\Users\\Abhi\\Documents\\GitHub\\book-recommendation-system'

In [22]:
df = pd.read_csv("ml/data/goodreads_data.csv")
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   Book         10000 non-null  object
 2   Author       10000 non-null  object
 3   Description  9923 non-null   object
 4   Genres       10000 non-null  object
 5   Avg_Rating   10000 non-null  float64
 6   Num_Ratings  10000 non-null  object
 7   URL          10000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB

In [24]:
df.describe()

        Unnamed: 0    Avg_Rating
count  10000.00000  10000.000000
mean    4999.50000      4.068577
std     2886.89568      0.335359
min        0.00000      0.000000
25%     2499.75000      3.880000
50%     4999.50000      4.080000
75%     7499.25000      4.260000
max     9999.00000      5.000000

In [25]:
df.columns

Index(['Unnamed: 0', 'Book', 'Author', 'Description', 'Genres', 'Avg_Rating',
       'Num_Ratings', 'URL'],
      dtype='object')

In [26]:
df.isnull().sum()

Unnamed: 0      0
Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

In [27]:
# filling the missing descriptions values
df["Description"] = df["Description"].fillna("")

In [28]:
df.isnull().sum()

Unnamed: 0     0
Book           0
Author         0
Description    0
Genres         0
Avg_Rating     0
Num_Ratings    0
URL            0
dtype: int64

In [29]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r"<.*?>", "", text)      # removing html
    text = re.sub(r"[^a-z\s]", "", text)   # keep letters only
    text = re.sub(r"\s+", " ", text)       # remove extra spaces
    return text.strip()

In [30]:
df["clean_description"] = df["Description"].apply(clean_text)

In [31]:
df["clean_genres"] = df["Genres"].str.lower()
df["clean_genres"] = df["clean_genres"].str.replace(",", " ")

In [32]:
df[["Book", "clean_description", "clean_genres"]].head()

,Book,clean_description,clean_genres
0,To Kill a Mockingbird,the unforgettable novel of a childhood in a sl...,['classics' 'fiction' 'historical fiction' ...
1,Harry Potter and the Philosopher’s Stone (Harr...,harry potter thinks he is an ordinary boy unti...,['fantasy' 'fiction' 'young adult' 'magic' ...
2,Pride and Prejudice,since its immediate success in pride and preju...,['classics' 'fiction' 'romance' 'historical...
3,The Diary of a Young Girl,discovered in the attic in which she spent the...,['classics' 'nonfiction' 'history' 'biograp...
4,Animal Farm,librarians note there is an alternate cover ed...,['classics' 'fiction' 'dystopia' 'fantasy' ...

In [33]:
# removing commas in num ratings
df["Num_Ratings"] = (df["Num_Ratings"].str.replace(",", "", regex=False).astype(int))

In [34]:
df["Num_Ratings"].dtype

dtype('int64')

In [35]:
df["Genres"].dtype

dtype('O')

In [36]:
import ast

df["Genres"] = df["Genres"].apply(ast.literal_eval)

In [37]:
type(df["Genres"].iloc[0])

list

In [38]:
df["genre_list"] = df["Genres"].apply(
    lambda x: [g.strip().lower() for g in x]
)

In [39]:
df["clean_genres"] = df["genre_list"].apply(lambda x: " ".join(x))

In [40]:
df[["Genres", "genre_list", "clean_genres"]].head()
# genre_list -- debug, clean_genres -- for ml model

,Genres,genre_list,clean_genres
0,"[Classics, Fiction, Historical Fiction, School...","[classics, fiction, historical fiction, school...",classics fiction historical fiction school lit...
1,"[Fantasy, Fiction, Young Adult, Magic, Childre...","[fantasy, fiction, young adult, magic, childre...",fantasy fiction young adult magic childrens mi...
2,"[Classics, Fiction, Romance, Historical Fictio...","[classics, fiction, romance, historical fictio...",classics fiction romance historical fiction li...
3,"[Classics, Nonfiction, History, Biography, Mem...","[classics, nonfiction, history, biography, mem...",classics nonfiction history biography memoir h...
4,"[Classics, Fiction, Dystopia, Fantasy, Politic...","[classics, fiction, dystopia, fantasy, politic...",classics fiction dystopia fantasy politics sch...

In [41]:
# data to learn from, text to compare
df["text_features"] = (df["Description"].str.lower() + " " + df["clean_genres"])

In [42]:
df[["Book", "text_features"]].head(2)

,Book,text_features
0,To Kill a Mockingbird,the unforgettable novel of a childhood in a sl...
1,Harry Potter and the Philosopher’s Stone (Harr...,harry potter thinks he is an ordinary boy - un...

In [43]:
print(df.loc[0, "text_features"]) #checking if genres are at the end of the list

the unforgettable novel of a childhood in a sleepy southern town and the crisis of conscience that rocked it. "to kill a mockingbird" became both an instant bestseller and a critical success when it was first published in 1960. it went on to win the pulitzer prize in 1961 and was later made into an academy award-winning film, also a classic.compassionate, dramatic, and deeply moving, "to kill a mockingbird" takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos. now with over 18 million copies in print and translated into forty languages, this regional story by a young alabama woman claims universal appeal. harper lee always considered her book to be a simple love story. today it is regarded as a masterpiece of american literature. classics fiction historical fiction school literature young adult historical

## ml tf-idf

In [49]:
#vector
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
tfidf = TfidfVectorizer(
    stop_words="english",
    max_features=8000,   #metric taken for 9k books, hojana chahiye.
    ngram_range=(1, 2)
)

tfidf_matrix = tfidf.fit_transform(df["text_features"])

In [51]:
tfidf_matrix.shape

(10000, 8000)

In [52]:
tfidf_matrix.nnz

676070

In [53]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [56]:
import re

def normalize(text):
    return re.sub(r"\s+", " ", text.lower().strip())

df["book_norm"] = df["Book"].apply(normalize)

indices = pd.Series(df.index, index=df["book_norm"]).drop_duplicates()

In [68]:
# recom function
def recommend_books(title, top_n=5):
    title_norm = normalize(title)

    # exact match
    if title_norm in indices:
        idx = indices[title_norm]

    # fallback: partial match
    else:
        matches = df[df["book_norm"].str.contains(title_norm)]

        if matches.empty:
            return "Book not found"

        idx = matches.index[0]  # best match

    sim_scores = cosine_similarity(
        tfidf_matrix[idx], tfidf_matrix
    ).flatten()

    top_idx = sim_scores.argsort()[-top_n-1:-1][::-1]

    return df.loc[top_idx, ["Book", "Author", "Avg_Rating"]]

In [69]:
# test 
recommend_books("Harry Potter and the Philosopher’s Stone")

,Book,Author,Avg_Rating
84,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.43
26,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.58
33,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.56
2125,Harry Potter and the Cursed Child: Parts One a...,J.K. Rowling,3.51
36,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.58

In [63]:
# number of genres in the dataset
type(df["Genres"].iloc[0])

list

In [64]:
all_genres = []

for genres in df["Genres"]:
    if isinstance(genres, list):
        all_genres.extend(genres)

In [65]:
unique_genres = sorted(set(all_genres))

In [66]:
len(unique_genres)

617

In [67]:
unique_genres

['12th Century',
 '15th Century',
 '16th Century',
 '17th Century',
 '18th Century',
 '19th Century',
 '20th Century',
 '21st Century',
 'Abuse',
 'Academia',
 'Academic',
 'Action',
 'Activism',
 'Adhd',
 'Adoption',
 'Adult',
 'Adult Fiction',
 'Adventure',
 'Africa',
 'African American',
 'African American Literature',
 'African Literature',
 'Agriculture',
 'Alchemy',
 'Algeria',
 'Aliens',
 'Alternate History',
 'Alternate Universe',
 'Amazon',
 'American',
 'American Civil War',
 'American History',
 'American Revolution',
 'American Revolutionary War',
 'Americana',
 'Amish',
 'Anarchism',
 'Ancient',
 'Ancient History',
 'Angels',
 'Animal Fiction',
 'Animals',
 'Anthologies',
 'Anthropology',
 'Anti Racist',
 'Apocalyptic',
 'Archaeology',
 'Architecture',
 'Art',
 'Art Design',
 'Art History',
 'Arthurian',
 'Artificial Intelligence',
 'Asexual',
 'Asia',
 'Asian Literature',
 'Astrology',
 'Astronomy',
 'Atheism',
 'Audiobook',
 'Australia',
 'Autistic Spectrum Disorder',
 'Autobiography',
 'Aviation',
 'BDSM',
 'Bande Dessinée',
 'Banned Books',
 'Baseball',
 'Basketball',
 'Batman',
 'Beauty and The Beast',
 'Biblical Fiction',
 'Biography',
 'Biography Memoir',
 'Biology',
 'Birds',
 'Bizarro Fiction',
 'Boarding School',
 'Book Club',
 'Books About Books',
 'Botswana',
 'Brain',
 'Brazil',
 'British Literature',
 'Buddhism',
 'Buisness',
 'Business',
 'Canada',
 'Canadian Literature',
 'Catholic',
 'Cats',
 'Chapter Books',
 'Chemistry',
 'Chick Lit',
 'Childrens',
 'Childrens Classics',
 'China',
 'Chinese Literature',
 'Christian',
 'Christian Fantasy',
 'Christian Fiction',
 'Christian Historical Fiction',
 'Christian Living',
 'Christian Non Fiction',
 'Christian Romance',
 'Christianity',
 'Christmas',
 'Church',
 'Cities',
 'Civil War',
 'Classic Literature',
 'Classical Music',
 'Classics',
 'Clean Romance',
 'Climate Change',
 'Climate Change Fiction',
 'Collections',
 'College',
 'Comedian',
 'Comedy',
 'Comic Book',
 'Comic Strips',
 'Comics',
 'Coming Of Age',
 'Comix',
 'Communication',
 'Computer Science',
 'Conspiracy Theories',
 'Contemporary',
 'Contemporary Romance',
 'Cookbooks',
 'Cooking',
 'Counselling',
 'Counter Culture',
 'Counting',
 'Cozy Mystery',
 'Crafts',
 'Crime',
 'Criticism',
 'Cthulhu Mythos',
 'Culinary',
 'Cults',
 'Cultural',
 'Cyberpunk',
 'Cycling',
 'Czech Literature',
 'Danish',
 'Dark',
 'Dark Fantasy',
 'Dc Comics',
 'Death',
 'Demons',
 'Denmark',
 'Design',
 'Detective',
 'Diary',
 'Diets',
 'Dinosaurs',
 'Disability',
 'Divination',
 'Divorce',
 'Dogs',
 'Dragonlance',
 'Dragons',
 'Drama',
 'Drawing',
 'Dungeons and Dragons',
 'Dutch Literature',
 'Dying Earth',
 'Dystopia',
 'Ecology',
 'Economics',
 'Education',
 'Edwardian',
 'Egypt',
 'Egyptian Literature',
 'Elves',
 'Emotion',
 'Engineering',
 'English Literature',
 'Entrepreneurship',
 'Environment',
 'Epic',
 'Epic Fantasy',
 'Erotic Romance',
 'Erotica',
 'Espionage',
 'Essays',
 'Ethiopia',
 'Eugenics',
 'European History',
 'European Literature',
 'Evolution',
 'Fae',
 'Fairies',
 'Fairy Tale Retellings',
 'Fairy Tales',
 'Faith',
 'Family',
 'Fan Fiction',
 'Fantasy',
 'Fantasy Romance',
 'Far Right',
 'Fat',
 'Fat Acceptance',
 'Fat Studies',
 'Female Authors',
 'Feminism',
 'Femme Femme',
 'Fiction',
 'Fighters',
 'Figure Skating',
 'Film',
 'Finance',
 'Finnish Literature',
 'Fitness',
 'Flash Fiction',
 'Folk Tales',
 'Folklore',
 'Food',
 'Food Writing',
 'Food and Drink',
 'Foodie',
 'Football',
 'Forgotten Realms',
 'Fostering',
 'France',
 'French Literature',
 'French Revolution',
 'Futurism',
 'Futuristic',
 'Games',
 'Gaming',
 'Gardening',
 'Gay',
 'Gay Fiction',
 'Gender',
 'Gender Studies',
 'Genderfluid',
 'Genetics',
 'Geography',
 'Geology',
 'German Literature',
 'Germany',
 'Ghana',
 'Ghost Stories',
 'Ghosts',
 'Global Warming',
 'Go',
 'God',
 'Gods',
 'Gothic',
 'Gothic Horror',
 'Government',
 'Graphic Novels',
 'Graphic Novels Comics',
 'Greece',
 'Greek Mythology',
 'Guidebook',
 'Halloween',
 'Hard Science Fiction',
 'Health',
 'Health Care',
 'Heroic Fantasy',
 'High Fantasy',
 'High School',
 'Hinduism',
 'Hip Hop',
 'Historical',
 'Historical Fantasy',
 'Historical Fiction',
 'Historical Mystery',
 'Historical Romance',
 'History',
 'History Of Science',
 'Hockey',
 'Holiday',
 'Holocaust',
 'Home Economics',
 'Homeschool',
 'Horror',
 'Horse Racing',
 'Horses',
 'How To',
 'Hugo Awards',
 'Humor',
 'Hungarian Literature',
 'Hungary',
 'Illness',
 'India',
 'Indian Literature',
 'Indonesian Literature',
 'Inspirational',
 'International',
 'International Development',
 'International Relations',
 'Internet',
 'Iran',
 'Ireland',
 'Irish Literature',
 'Islam',
 'Israel',
 'Italian Literature',
 'Italy',
 'Japan',
 'Japanese Literature',
 'Jewish',
 'Josei',
 'Journal',
 'Journaling',
 'Journalism',
 'Judaica',
 'Judaism',
 'Juvenile',
 'Kenya',
 'Kids',
 'LGBT',
 'Language',
 'Latin American',
 'Latin American Literature',
 'Law',
 'Lds',
 'Lds Fiction',
 'Lds Non Fiction',
 'Leadership',
 'Lebanon',
 'Legal Thriller',
 'Lesbian',
 'Lesbian Romance',
 'Liberia',
 'Light Novel',
 'Linguistics',
 'Literary Criticism',
 'Literary Fiction',
 'Literature',
 'Logic',
 'Love',
 'Love Inspired',
 'Love Inspired Historical',
 'Love Inspired Suspense',
 'Love Story',
 'Lovecraftian',
 'M F Romance',
 'M M Contemporary',
 'M M F',
 'M M Romance',
 'Magic',
 'Magical Realism',
 'Malawi',
 'Management',
 'Manga',
 'Marathi',
 'Maritime',
 'Marriage',
 'Martial Arts',
 'Mathematics',
 'Mauritius',
 'Media Tie In',
 'Medical',
 'Medicine',
 'Medieval',
 'Medieval History',
 'Medieval Romance',
 'Memoir',
 'Menage',
 'Mental Health',
 'Mental Illness',
 'Mermaids',
 'Metaphysics',
 'Microhistory',
 'Middle Grade',
 'Military Fiction',
 'Military History',
 'Military Romance',
 'Military Science Fiction',
 'Modern',
 'Modern Classics',
 'Money',
 'Monsters',
 'Morocco',
 'Mountaineering',
 'Murder Mystery',
 'Music',
 'Musicals',
 'Musicians',
 'Mystery',
 'Mystery Thriller',
 'Mysticism',
 'Mythology',
 'Native American History',
 'Native Americans',
 'Natural History',
 'Nature',
 'Naval History',
 'Neuroscience',
 'New Adult',
 'New Adult Romance',
 'New Age',
 'New Weird',
 'New York',
 'Nigeria',
 'Nobel Prize',
 'Noir',
 'Nonfiction',
 'Nordic Noir',
 'Novella',
 'Novels',
 'Nursery Rhymes',
 'Nutrition',
 'Occult',
 'Outdoors',
 'Own',
 'Paganism',
 'Pakistan',
 'Palaeontology',
 'Paranormal',
 'Paranormal Romance',
 'Parenting',
 'Personal Development',
 'Personal Finance',
 'Philosophy',
 'Photography',
 'Physics',
 'Picture Books',
 'Pirates',
 'Plantagenet',
 'Plays',
 'Poetry',
 'Poetry Plays',
 'Poland',
 'Police',
 'Polish Literature',
 'Political Science',
 'Politics',
 'Polyamory',
 'Polygamy',
 'Pop Culture',
 'Popular Science',
 'Portugal',
 'Portuguese Literature',
 'Post Apocalyptic',
 'Poverty',
 'Prayer',
 'Prehistoric',
 'Prehistory',
 'Presidents',
 'Princesses',
 'Productivity',
 'Programming',
 'Prostitution',
 'Psychiatry',
 'Psychoanalysis',
 'Psychological Thriller',
 'Psychology',
 'Pulp',
 'Punk',
 'Queer',
 'Rabbits',
 'Race',
 'Read For School',
 'Realistic Fiction',
 'Reference',
 'Regency',
 'Regency Romance',
 'Relationships',
 'Religion',
 'Research',
 'Retellings',
 'Reverse Harem',
 'Robots',
 'Rock N Roll',
 'Roman',
 'Romance',
 'Romania',
 'Romanian Literature',
 'Romantic',
 'Romantic Suspense',
 'Romanticism',
 'Russia',
 'Russian History',
 'Russian Literature',
 'Russian Revolution',
 'Rwanda',
 'Satanism',
 'Scandinavian Literature',
 'School',
 'School Stories',
 'Science',
 'Science Fiction',
 'Science Fiction Fantasy',
 'Science Fiction Romance',
 'Scotland',
 'Seinen',
 'Self Help',
 'Serbian Literature',
 'Sexuality',
 'Shapeshifters',
 'Shojo',
 'Short Stories',
 'Short Story Collection',
 'Sierra Leone',
 'Singularity',
 'Skepticism',
 'Soccer',
 'Social',
 'Social Issues',
 'Social Justice',
 'Social Media',
 'Social Science',
 'Social Work',
 'Society',
 'Sociology',
 'Software',
 'Somalia',
 'South Africa',
 'Southern',
 'Southern Gothic',
 'Space',
 'Space Opera',
 'Spain',
 'Spanish Civil War',
 'Spanish Literature',
 'Speculative Fiction',
 'Spirituality',
 'Splatterpunk',
 'Sports',
 'Sports Romance',
 'Spy Thriller',
 'Star Trek',
 'Star Wars',
 'Steampunk',
 'Storytime',
 'Street Art',
 'Sudan',
 'Superheroes',
 'Superman',
 'Supernatural',
 'Surreal',
 'Survival',
 'Suspense',
 'Sustainability',
 'Sweden',
 'Swedish Literature',
 'Sword and Planet',
 'Sword and Sorcery',
 'Taoism',
 'Tarot',
 'Tasmania',
 'Tea',
 'Teaching',
 'Technical',
 'Technology',
 'Teen',
 'Terrorism',
 'Textbooks',
 'The United States Of America',
 'The World',
 'Theatre',
 'Thelema',
 'Theology',
 'Theory',
 'Thriller',
 'Time Travel',
 'Tragedy',
 'Trains',
 'Transgender',
 'Transport',
 'Travel',
 'Travelogue',
 'True Crime',
 'True Story',
 'Tudor Period',
 'Turkish',
 'Turkish Literature',
 'Tv',
 'Ukraine',
 'Ukrainian Literature',
 'Unfinished',
 'Unicorns',
 'United States',
 'Urban',
 'Urban Fantasy',
 'Urban Planning',
 'Urbanism',
 'Us Presidents',
 'Utopia',
 'Vampires',
 'Vegan',
 'Vegetarian',
 'Victorian',
 'Video Games',
 'War',
 'Weird Fiction',
 'Weird West',
 'Werewolves',
 'Westerns',
 'Wicca',
 'Wildlife',
 'Witchcraft',
 'Witches',
 'Wolves',
 'Womens',
 'Womens Fiction',
 'Womens Studies',
 'World History',
 'World War I',
 'World War II',
 'Writing',
 'Young Adult',
 'Young Adult Contemporary',
 'Young Adult Fantasy',
 'Young Adult Paranormal',
 'Young Adult Romance',
 'Young Readers',
 'Zen',
 'Zimbabwe',
 'Zombies']

In [70]:
import pickle
from pathlib import Path

Path("ml/artifacts").mkdir(parents=True, exist_ok=True)

pickle.dump(tfidf, open("ml/artifacts/tfidf_vectorizer.pkl", "wb"))
pickle.dump(tfidf_matrix, open("ml/artifacts/tfidf_matrix.pkl", "wb"))
pickle.dump(df, open("ml/artifacts/books_df.pkl", "wb"))

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\Abhi\\Documents\\GitHub\\book-recommendation-system\\ml\\notebooks'

In [5]:
os.chdir('../../')

In [6]:
os.getcwd()

'C:\\Users\\Abhi\\Documents\\GitHub\\book-recommendation-system'

In [14]:
df.to_csv("ml/cleaned_data/books_cleaned.csv", index=False)

### matrix artifact retreival, glt tha 0kb file bruh

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    stop_words="english",
    max_features=8000
)

tfidf_matrix = tfidf.fit_transform(df["text_features"])

In [46]:
import pickle
import os

os.makedirs("ml/artifacts", exist_ok=True)

with open("ml/artifacts/books_df.pkl", "wb") as f:
    pickle.dump(df, f)

with open("ml/artifacts/tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(tfidf, f)

with open("ml/artifacts/tfidf_matrix.pkl", "wb") as f:
    pickle.dump(tfidf_matrix, f)

In [47]:
os.getcwd()

'C:\\Users\\Abhi\\Documents\\GitHub\\book-recommendation-system'

In [50]:
import pickle
# matrix check
with open("ml/artifacts/tfidf_matrix.pkl", "rb") as f:
    test = pickle.load(f)

print(type(test), test.shape)

<class 'scipy.sparse._csr.csr_matrix'> (10000, 8000)